body {
    margin: 0;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

#world {
    display: block;
    background: repeating-linear-gradient(90deg, transparent, transparent 5px, #111 5px, #111 100px), repeating-linear-gradient(0deg, transparent, transparent 5px, #111 5px, #111 100px) #222;
}