body {
    position: absolute;
    inset: 0;
    margin: 0;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

#world {
    display: block;
    cursor: none;
}

#toolbar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}